* {
    background-color: #579BB1;
    text-align: center;
    box-sizing: border-box;
    font-family: verdana;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    background-image: linear-gradient(to right, #161616, #7c7c7c);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.theory {
    border: 2px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: #E1D7C6;
}

h1 {
    text-align: center;
}

.calculation {
    border: 2px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: #E1D7C6;
}

.calcu_par {
    background-color: #E1D7C6;
}

.calcu_input {
    background-color: #ECE8DD;
}

button {
    margin-bottom: 5px;
    background-color: rgb(243, 243, 243);
}

.result {
    width: 70%;
    text-align: center;
    margin: auto;
}

#area_img {
    width: 500px;
    height: 300px;
    margin: 30px;

}