* {
    background-color: bisque;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.calculation {
    border: 4px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
}

button {
    margin-bottom: 5px;
}

.result {
    width: 70%;
    text-align: center;
    margin: auto;
}